<html>
<head>
  <%= render_stylesheet %>
  <%= render_javascript %>
</head>
<body>
  <div id="header">
    <%= render_header item %>
  </div>
  <div id="message_content">
  <%= nl2br(item.text) %>
  </div>
  <%= attachments(item) %>
</body>
</html>
