<html>
  <head>
    <%= render_stylesheet %>
    <%= render_javascript %>
  </head>
  <body>
    <div id="header">
      <%= render_header item %>
    </div>
    <div id="message_content">
      <%= tidyup(item) %>
    </div>
    <%= attachments(item, "html") %>
  </body>
</html>
